h1 {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  height: 50px;             
background-color:transparent;
  color:white;             
  margin: 0;
  font-size: 2rem;
}


/* .v1 {
  color: #00d4ff;
}

.v2 {
  color: #ff7b00;
} */

.header {
  display: flex;
  align-items: center;
  gap: 30px; 
}

.menu {
  display: flex;
  gap:100px;
  margin-left: 500px;
}

.menu h1 {
  font-size: 20px;
  margin: 0;
}

