<div class="details-container">
  @for (details of voyagers; track details.id; let i = $index) {
    <div #cardRef class="details-card">
      <div [class]="details.id == 'v2' ? 'vg2' : 'vg1'">
      <h2>{{ details.name | uppercase }}</h2>
      </div> 
      <p><strong>Launched:</strong> {{ details.launched | date }}</p>
      <p><strong>Status:</strong> {{ details.status }}</p>
      <p><strong>Location:</strong> {{ details.location }}</p>
   
      <ng-template #info>
        <p><strong>Distance (AU):</strong> {{ details.distanceAU }}</p>
        <p><strong>Speed:</strong> {{ details.speed }}</p>
        <p><strong>Power Left:</strong> {{ details.powerLeft }}</p>
        <p><strong>Mission:</strong> {{ details.mission }}</p>
      </ng-template>

      @if (showDetails[i]) {
        <div>
          <ng-container *ngTemplateOutlet="info"></ng-container>
         
          <div [class]="details.id == 'v1' ? 'voyager1' : 'voyager2'">

         
            @switch (details.mission) {
              @case ("Planetary flyby → ISM study") {
                <strong>Planetary Exploration : </strong>
                <small>{{ details.planetsFlyby }}</small>
              }
              @case ("Grand Tour → ISM study") {
                <strong>Grand Tour Mission : </strong>
                <small>{{ details.planetsFlyby }}</small>
              }
            }

           
            @switch (details.missionType) {
              @case ('planetary') {
                <h3>🪐 Planetary Mission</h3>
              }
              @case ('grandTour') {
                <h3>🚀 Grand Tour Mission</h3>
              }
            }

          </div>
         <app-voyager-card
            [timeline]="details.timeline"
              (missionSelect)="onMissionSelect($event)"
            >
          </app-voyager-card>
        </div>
      }

      <button (click)="toggleDetails(i)" class="toggle-btn">
        {{ showDetails[i] ? 'Hide Details' : 'Show More Details' }}
      </button>

    </div>
  }
</div>